<div class="hidden">
    <div id="toast-message">
        <div class="ui info message"> 
            <div class="header">
              Was this what you wanted?
            </div>
            <ul class="list">
              <li>It's good to see you again.</li>
              <li>Did you know it's been a while?</li>
            </ul>
          </div>
    </div>

    <div id="toast-card">
        <div class="ui card fluid">
            <div class="content">
              <div class="header">Project Timeline</div>
            </div>
            <div class="content">
              <h4 class="ui sub header">Activity</h4>
              <div class="ui small feed">
                <div class="event">
                  <div class="content">
                    <div class="summary">
                       <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="content">
                    <div class="summary">
                       <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="content">
                    <div class="summary">
                       <a>Helen Troy</a> added two pictures
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="extra content">
              <button class="ui button">Join Project</button>
            </div>
          </div>
    </div>
</div>