<div class="ui bottom sidebar segment">
    <div class="ui center aligned page grid">
        <div class="one column row">
            <div class="sixteen wide column">
                <h3 class="ui header">New Content Awaits</h3>
            </div>
        </div>
    </div>
</div>

<div class="ui top sidebar segment sidebar-top-information">
    <div class="ui center aligned page grid">
        <div class="one column row">
            <h3 class="ui header">{{__('modal.welcome-back')}}:{{user.nickname}}</h3>
        </div>
    </div>
</div>

