{% extends '../shared/layout.html' %}
{% block content %}
<h2 class="ui header">实时监控</h2> 
<div class="ui grid">
    <div class="eight column row">
    </div>
    </div>

<div class="ui grid">
    <div class="sals-grid-table" style="height:80vh; width:100%;"></div>
  </div>
  
<script type="text/javascript">

    sals.use(['table'], function () {
        var columnDefs = [
      
        { field: "mbr-account", header: "{{__('pages.order-number')}}",formater:function(val,row){
            return '{{__("pages.text.sys")}}:'+row['orderNumber']+'<br/>{{__("pages.text.number")}}:'+row['cus_order_id']
        } },
        { header: "{{__('pages.text.order-money-mini')}}",field:"settle",formater:function(val,row){
            return '{{__("pages.text.order-money-submit")}}:'+ sals.money(val['order'])+
            '<br/>{{__("pages.text.order-money-payed")}}:'+sals.money(val['payed'])+
            '<br/>{{__("pages.text.order-money-succ")}}:'+sals.money(val['member']);
        } },
        { header: "{{__('pages.text.number')}}",field:"cuser",formater:function(val,row){
            return val['acc']+'<br/>'+val['name'];
        } },
        {
            header: "{{__('pages.time.time')}}",  formater: function (val,row) {
            return '{{__("pages.time.add")}}:'+sals.date(row['times']['append'],'yyyy-MM-dd hh:mm:ss')+
            '<br/>{{__("pages.time.payed")}}:'+sals.date(row['times']['payed'],'yyyy-MM-dd hh:mm:ss')+
            '</br>{{__("pages.time.notify")}}:'+sals.date(row['times']['notify'],'yyyy-MM-dd hh:mm:ss');
            }
        },
        {
            header:"{{__('pages.gateway.gateway')}}",formater:function(val,row){
            return '{{__("pages.gateway.channel")}}:'+row['gateway_type'].text+
            '<br/>{{__("pages.gateway.code")}}:'+row['gateway_type'].code+
            '<br/>{{__("pages.gateway.rate")}}: '+row['settle']['procedure']+'%';
            }
        },
        {
            header:"{{__('pages.gateway.channel')}}",formater:function(val,row){
            return '{{__("gateway.gateway-name")}}:'+row['pay_type'].gName+'<br/>{{__("pages.gateway.gateway")}}:'+row['pay_type'].text+'<br/>{{__("pages.gateway.code")}}:'+row['pay_type'].gateway;
            }
        },
        {
            field:'state', header:"{{__('pages.order.state')}}",formater:function(val){
            switch(val){
                case 0:return '<label class="ui label primary">{{__("pages.order-state.new")}}</label>';
                case 1:return '<label class="ui label orange">{{__("pages.order-state.paying")}}</label>';
                case 2:return '<label class="ui label green">{{__("pages.order-state.payed")}}</label>';
                case 4:return '<label class="ui label green">{{__("pages.order-state.success")}}</label>';
                case 8:return '<label class="ui label red">{{__("pages.order-state.failure")}}</label>';
                case 16:return '<label class="ui label pink">{{__("pages.order-state.waive")}}</label>';
                case 32:return '<label class="ui label grey">{{__("pages.order-state.timeout")}}</label>';
                default :return '<label class="ui label black">{{__("pages.order-state.undefind")}}</label>'
            }
            }
        }
        ];
        var $table = sals.grid('.sals-grid-table', columnDefs,function(res){
        $table.AddHtml('<div class="disabled item">{{__("grid.data.total")}}:'+res.total+' {{__("grid.data.count")}} {{__("grid.data.success")}}:'+res.moneyTotal+'</div>');
        },pageSize=10);

        $table.LoadData('{{user.manage}}/orders/order-runing');

        
        function rLoad(){
            setTimeout(function(){
                $table.Reload({},function(){
                    rLoad();
                });
        }, 5000);
        }
        rLoad();
    })
</script>
  
{% endblock %}