{% extends '../shared/layout.html' %}
{% block content %}



<div style="text-align:center">
    <div class="ui warning message">
        密码经过加密存储于数据库中,无法还原,如果商户忘记密码可通过此功能重置
    </div>

    <button class="massive ui orange button btn-rest-login">重置登录密码</button>

    <button class="massive ui olive button btn-rest-pay">重置提现密码</button>

    <div class="ui green message success-message-box" style="display: none;">
        重置密码成功,新密码为:<span class="new-password"></span>
    </div>
    <div class="ui red message error-message-box" style="display: none;">
        密码重置失败:<span class="error-msg"></span>
    </div>
</div>
<script type="text/javascript">
    sals.use(['ajaxForm'], function () {
        function post_password(type){
            $('.success-message-box,.error-message-box').hide();
            sals.post('',{rest:type,user:sals.getQuery('did')},function(res){
                if(res.success){
                    $('.new-password').text(res.new_pwd);
                    $('.success-message-box').show();
                }else{
                    $('.error-msg').text(res.message);
                    $('.error-message-box').show();
                }
            })
        }
        $('.btn-rest-login').on('click',function(){
            top.layout.confirm('确认重置登录密码?',function(res){
                if(res){
                    post_password('login')
                }
            })
        });
        $('.btn-rest-pay').on('click',function(){
            top.layout.confirm('确认重置提现密码?',function(res){
                if(res){
                    post_password('pay')
                }
            })
            });
    });
</script>

{%endblock%}