<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>{{config['site-name']}}</title>
    <link href="/custom/css/lanai-ui.min.css" rel="stylesheet" />
    <script src="/custom/js/jquery.min.js"></script>
    <script src="/custom/js/lanai-ui.min.js"></script> 
    <script src="/public/js/jquery.form.js"></script>
    {%block head%}{%endblock%}
</head>
<body>
    <section class="content no-padding">	<div class="box-body">
    {%block content%}{%endblock%}
</div>
</section>
<script src="/custom/main.js"></script> 
</body>
</html>