<!DOCTYPE html>
<html>
	<head>
		<script>if(this!=top){top.location.replace(this.location)}</script>
		<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
		<title>{{config['site-title']}}</title>
		<link href="/custom/css/lanai-ui.min.css" rel="stylesheet" />
	</head>
	<body class="register-page">

<div class="article-wrap" style="padding:2% 10%">

    <a href="register">返回</a>

    <h2 class="title">服务协议</h2>
<p class="release-time">发布时间：2022-06-28 08:55:23</p>
<strong>&nbsp;{{config['site-name']}}多途径支付平台（以下简称“{{config['site-name']}}”）依照本协议及其相关操作规则提供基于互联网的支付网关服务（以下简称“支付网关服务”或“服务”），为申请获得此服务，服务使用人（以下称“用户”）须同意本协议的全部条款并按照“{{config['site-name']}}”的提示（包括但不限于页面、邮件等）完成全部的注册程序。用户在进行注册程序过程中点击标示为"同意"的按钮或链接即表示用户完全同意接受本协议项下的全部条款。</strong><br>
<br>
<strong>1、承诺</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 您确认，在您成为我们的用户之前已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 您同意，本公司有权随时对本协议内容进行单方面的变更，并以在本网站公告的方式予以公布，无需另行单独通知您；若您在本协议内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，您应停止使用本服务。</strong><br>
<br>
<strong>2、服务内容</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1 用户选择“{{config['site-name']}}”在线支付系统作为用户销售平台首选的在线支付工具，通过“{{config['site-name']}}”在线支付系统在互联网上受理用银行卡进行支付的商务交易。“{{config['site-name']}}”作为在线支付服务提供商，利用“{{config['site-name']}}”在线支付平台为用户提供在线支付及结算服务。“{{config['site-name']}}”在线支付系统服务内容包括：为用户在线成功交易代收持卡人所支付的交易金，通过双方的往来账户进行结算，“{{config['site-name']}}”按照用户所选择之产品的不同收取一定比例的手续费。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2 “{{config['site-name']}}”提供的支付网关服务的具体内容由“{{config['site-name']}}”根据实际情况决定。“{{config['site-name']}}”保留在通知用户的情况下随时变更、中断或终止部分或全部服务的权利。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.3 “{{config['site-name']}}”提供的支付网关服务，因服务的不同，会对使用部分服务的用户收取费用。如用户拒绝支付该费用，则不能使用对应的服务。对当前免费或收费的服务，“{{config['site-name']}}”不承诺一直免费或收费。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.4 “{{config['site-name']}}”仅提供支付网关服务，用户为使用此服务而需要的相关设备（包括但不限于电脑、调制解调器及其它与接入互联网有关的装置）及所需的费用（包括但不限于接入互联网而支付的电话费及上网费）均由用户自行负担。</strong><br>
<br>
<strong>3、用户责任和义务</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.1 用户确保所提供电子商务服务中商品的质量及售后服务与其在网上宣传的质量一致。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.2 用户应在用户网站电子商务相关页面上如实描述“{{config['site-name']}}”银行卡网上支付业务，用户不得采用技术手段或其它非法手段截获持卡人的卡信息，代替持卡人提交订单。用户必须在用户网站引导持卡人到“{{config['site-name']}}”网上支付平台亲自提交订单。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.3 用户应向“{{config['site-name']}}”提供合作网上支付平台所必需的文件、资料、信息及相关工作，以配合“{{config['site-name']}}”完成接入系统的相关工作，并对其所提供的上述材料之合法性、完整性及真实性负责。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.4 用户承诺在其网上支付页面以适当的方式完整登载“{{config['site-name']}}”提供的说明材料。具体登载方式、内容由“{{config['site-name']}}”提供，并经双方认可。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.5 在用户承诺时间内，对于成功支付的交易用户如果不提供送货或相关服务，由此造成的一切法律上的责任由用户负责。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.6 用户不得把“{{config['site-name']}}”提供的银行卡网上支付接口技术、安全协议及证书等转交其它网站和企业使用。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.7 用户在申请使用“{{config['site-name']}}”支付网关服务时，必须向“{{config['site-name']}}”提供准确真实的资料、基本业务情况说明及相关法律证明，如资料有任何变动，用户须及时更新。由于用户所提供的资质材料不准确、不真实等情况而导致的经济和法律方面的责任，由用户承担。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.8 在服务有效期内，若银行卡支付时发生技术性障碍，影响实时支付，用户应与“{{config['site-name']}}”积极合作，配合相关第三方(如银行、网关、电信等)查明原因，以求妥善处理，所造成的经济损失由责任方承担。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.9 用户应同意接受“{{config['site-name']}}”通过电子邮件或其他方式向用户发送的商品促销和其它相关商业信息。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.10 您同意并保证不得利用{{config['site-name']}}平台服务从事下列任何行为，否则，{{config['site-name']}}有权冻结你帐号资金最长不超过180天，且您应自行承担所有法律责任：</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. 反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. 侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权及其他合法权益；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3. 违反依法律或本协议所应负的保密义务；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4. 冒用他人名义使用{{config['site-name']}}平台服务；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5. 从事任何不法交易行为，如贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品或其他违禁物；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6. 提供赌博资讯或以任何方式引诱他人参与赌博；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7. 涉嫌洗钱、恐怖融资、套现或进行传销活动的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8. 使用无效信用卡号码或他人信用卡号码进行交易；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9. 使用无效银行账户或他人银行账户交易；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10. 进行与您或交易对方宣称的内容不符的交易或不真实的交易；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11. 从事任何可能侵害{{config['site-name']}}平台服务系統的行为；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12. 其他违法行为或{{config['site-name']}}有正当理由认为不适当的行为。</strong><br>
<br>
<strong>4、 “{{config['site-name']}}”责任与义务</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1 “{{config['site-name']}}”负责为用户提供安全加密服务，即为用户使用“{{config['site-name']}}”的网上支付功能提供高质量的网络传输加密通道，包括为用户提供订单信息传输的接口规范、配置安全传输协议、后台管理权限设定等。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.2 “{{config['site-name']}}”负责为用户提供网上安全支付服务，即为用户提供其商务网站进行交易所需要的在线支付与结算功能。通过“{{config['site-name']}}”实现网上支付系统与银行交换信息，并将银行的确认信息反馈用户。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.3 用户户在利用“{{config['site-name']}}”网络支付系统进行交易时，由“{{config['site-name']}}”对其资金状况进行管理。双方进行结算，“{{config['site-name']}}”扣除用户应交给“{{config['site-name']}}”的交易手续费后，将剩余的费用支付到用户指定的账号上。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.4 “{{config['site-name']}}”应确保网上支付系统的正常安全运作，向用户及用户顾客提供安全、有效的网上支付服务。</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.5 “{{config['site-name']}}”不得将用户有关的任何商业资料以任何形式透露给任何第三方；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.6 用户有下列情形之一的，“{{config['site-name']}}”有权立即终止本协议，并追偿导致的损失：</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1） 与客户串通诈骗银行资金的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2） 故意诋毁或损害“{{config['site-name']}}”网上银行声誉的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3） 连续90天没有交易发生的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4） 无理拒绝受理客户使用用户网上支付系统进行交易的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5） 销售国家禁止流通、限制流通商品或提供非法服务的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6） 产品质量低劣给消费者造成重大损失或信誉低下的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7） 累计3次以上经法院判决或仲裁对客户存在欺诈行为的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8） 经公安机关、工商税务等国家部门认定已无业务资格的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9） 开展的业务范围涉及如下内容的：</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 反对宪法所确定的基本原则的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 损害国家荣誉和利益的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 煽动民族仇恨、民族歧视，破坏民族团结的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 破坏国家宗教政策，宣扬邪教和封建迷信的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 散布谣言，扰乱社会秩序，破坏社会稳定的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 涉及赌博、洗钱、套现、传销等活动的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 侮辱或者诽谤他人，侵害他人合法权益的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 含有欺骗性的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 出售平台禁售商品的；</strong><br>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 其他违法行为或{{config['site-name']}}有正当理由认为不适当的行为</strong><br>
<strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.7 您理解并同意，本公司不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于流量、访问、数据等方面的损失或其他无形损失的损害赔偿 (无论本公司是否已被告知该等损害赔偿的可能性)：</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1) 本公司有权基于单方判断，包含但不限于本公司认为您已经违反本协议的明文规定及精神，暂停、中断或终止向您提供本服务或其任何部分，并移除您的资料。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2) 本公司在发现非法网站或有疑义或有违反法律规定或本协议约定之虞时，有权不经通知先行暂停或终止该域名的解析，并拒绝您使用本服务之部分或全部功能。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (3) 在必要时，本公司无需事先通知即可终止提供本服务，并暂停、关闭或删除该账户及您账号中所有相关资料及档案，如遇到非法域名被关闭，所涉及到的款项将不会结算给您。</strong><br>
<br>
<strong>5、隐私与保护</strong><br>
<strong>  一旦您同意本协议或使用本服务，您即同意本公司按照以下条款来使用和披露您的个人信息。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; (1) 用户名和密码</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在您注册为“{{config['site-name']}}”用户时，我们会要求您设置用户名和密码，以便在您丢失密码时用以确认您的身份。请确保您的账号安全防止泄露密码，如果您发现发现账号和密码有泄露的嫌疑，请及时联系我司处理，在我司采取行动之前，本司对此不负任何责任。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; (2) 注册信息</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们有义务保证您在注册我们系统时填写的真实姓名、电话号码、电子邮件地址、身份证号码的其隐私性，并且您同意我们通过电子邮件或者电话号码通知您有关我司有关优惠活动和您在我们系统上面设置的告警通知。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; (3)为了更好的向您提供服务，您同意，本公司有权将您在注册及在使用我们服务的过程中所产生的信息，提供给本司的关联公司。除本协议另有规定外，本公司不对外公开或向第三方提供您的信息，但以下情况除外：</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A、事先获得您的明确授权；</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B、按照本协议的要求进行的披露；</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; C、根据法律法规的规定；</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; D、由国家相关部门开具证明，需要调阅您的信息</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E、您使用“{{config['site-name']}}”账户成功登录过的其他网站。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F、为维护本公司及其关联公司的合法权益；</strong><br>
<br>
<strong>6、信息安全</strong><br>
<strong>  本司仅以现有技术提供相应的安全措施来保证您的信息不丢失、泄露。尽管有这些安全措施，但本司不保证这些信息的100%安全。</strong><br>
<br>
<strong>7、免责条款</strong><br>
<strong>  因下列状况无法正常运作，使您无法使用各项服务时，本公司不承担损害赔偿责任，该状况包括但不限于：</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 7.1 由于系统升级或调整期间需要停机维护且停机维护之前做过广告的</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 7.2 用户违反本协议条款的约定，导致第三方主张的任何损失或索赔。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 7.3 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能执行业务的。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 7.4 由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</strong><br>
<br>
<strong>8、责任范围及责任限制</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 8.1 本公司仅对本协议中列明的责任承担范围负责。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 8.2 由于服务服务器故障给您造成大范围无法正常销售超过72小时的，除VIP外您无权要求本公司给予经济赔偿。</strong><br>
<br>
<strong>9、法律及争议解决</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 9.1 本协议适用中华人民共和国法律。如遇本协议有关的某一特定事项缺乏明确法律规定，则应参照通用国际商业惯例和（或）行业惯例。</strong><br>
<strong>  &nbsp;&nbsp;&nbsp; 9.2 因双方就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，任何一方均有权将争议递交长沙市人民法院。</strong>        </div>

    </body>
</html>