{% extends './_layout.html' %}
{% block content %}

<div class="modal mbr-popup cid-sYrxHVpvMf fade mbr-after-navbar" tabindex="-1" role="dialog"
    data-overlay-color="#000000" data-overlay-opacity="0.8" data-on-timer-delay="1" id="mbr-popup-1kn"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container position-static margin-center-pos">
                <div class="modal-header">

                    <button type="button" class="close d-flex" data-dismiss="modal" data-bs-dismiss="modal"
                        aria-label="Close">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"
                            fill="currentColor">
                            <path
                                d="M13.4 12l10.3 10.3-1.4 1.4L12 13.4 1.7 23.7.3 22.3 10.6 12 .3 1.7 1.7.3 12 10.6 22.3.3l1.4 1.4L13.4 12z">
                            </path>
                        </svg>
                    </button>
                </div>

                <div class="modal-body">


                    <div>
                        



                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true"
    data-interval="5000" id="slider-nx" data-rv-view="444" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-section__container">
        <div>

            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active"
                    style="background-image: url(/themes/pink/images/websitepage-1-2000x854.png);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">

                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">

                                    <div class="mbr-hero">



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height"
                    style="background-image: url(/themes/pink/images/websitepage-2-2000x854.png);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">

                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">

                                    <div class="mbr-hero">



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height"
                    style="background-image: url(/themes/pink/images/websitepage-4-2000x854.png);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">

                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">

                                    <div class="mbr-hero">



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height"
                    style="background-image: url(/themes/pink/images/websitepage-3-2000x854.png);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">

                        <div class=" container">

                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">

                                    <div class="mbr-hero">



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev"
                href="#slider-nx">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next"
                href="#slider-nx">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content5-24" data-rv-view="495" style="background-color: rgb(255, 255, 255);">
    
    
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 62px;">
      
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="mbr-buttons mbr-buttons--center btn-inverse">
                    <a class="mbr-buttons__btn btn btn-lg btn-info" href="{{config['CUSTOMER_MANAGE_PATH']}}/register" target="_blank">馬上聯繫我們申請MYPAY 第四方支付</a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-background" id="msg-box3-bz" data-rv-view="459" >
    <div class="mbr-overlay" style="opacity: 0; background-color: rgb(239, 239, 239);"></div>
    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">MYPAY金融科技的實踐者<br>台灣第一家第四方支付<br>您最貼心的金流顧問</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p>Apple Pay、支付寶、信用卡、webATM、超商代碼...？這麼多收款工具要選擇哪一種？</p><p>每次都要花一次串接費用，有沒有可能一次搞定？新興支付工具越來越多，</p><p>被搞得暈頭轉向的您，不用再煩惱，通通找 MYPAY 就對了！</p><p>MYPAY替您整合所有金流供應商和支付工具，</p><p>供您一次串接搞定金流，隨時自由選擇所需收款工具，</p><p>並提供定期定額、電子錢包等各項獨家服務。</p><p>你想得到的與還沒用到的金流服務，我們都準備好了！</p><p>我們會依據您的產業需求推薦適合的方案與配合的單位；</p><p>只要透過 MYPAY，所有金流需求一次滿足，讓您回歸一站管理、</p><p>金流商任您選擇，輕鬆做到金流分流。</p></div>
        </div>
    </div>
    
</section>
 

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-c0" data-rv-view="465" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">MYPAY第四方支付特色與優勢</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/2-2-334x209.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">多來源訂單<br>單一管理後台整合管理</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>無論企業串接幾家金流，MYPAY協助您將各種金流訂單整合到MYPAY的管理後台，您從此不需要在各家的金流後台穿梭，真正一站搞定<br></p>
                    </div>
                </div>
                
            </div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/2-1-334x209.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">一次串接<div>一勞永逸</div></h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>串接MYPAY金流，未來不管企業需要新增支付工具或更換金流服務商，都可直接在MYPAY後台完成，免開發，免串接，設定即可&nbsp;</p>
                    </div>
                </div>
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/2-5-334x209.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">完整的風險控管機制</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>MYPAY除了幫您串接好市面上所有支付工具，更注重風險控管機制：包括連續交易設定，黑名單機制，OTP機制，更有獨特的交易區間設置，讓您擔心的風險問題一次解決</p>
                    </div>
                </div>
                
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-2">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/2-3-334x209.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">電子錢包<div>讓VIP輕鬆秒付</div></h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>「電子錢包」服務是替企業既有的平台建置錢包付款機制，讓您的顧客一次綁定信用卡，往後每次購物只要兩步驟就可輕鬆秒付！快速結帳體驗，帶來更多回購！<br><br></p>
                    </div>
                </div>
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/messages-app-store-600x450.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">一碼付</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>一個QRcode，成為您的行動收銀機！走到哪，企業就收款到哪，虛實場景任你收，一分鐘即可完成收款</p>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>


<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-c3" data-rv-view="468" style="background-color: rgb(239, 239, 239);">
    
    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">透過MYPAY串接所有收款工具<br>替您省力氣<br></h3>
                <p class="mbr-header__subtext"><span style="font-style: normal;">您需要的我們都幫您搞定了！<br>透過MYPAY一支API，一次串接所有您所需的支付方式，降低您的技術開發成本。<br>從微型商戶到銀行特店都免更換程式，新型支付一指開通。</span><br></p>
            </div>
        </div>
    </div>
    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-sm-6">
                
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">我正在找金流服務商</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>MYPAY就是您金流服務唯一選擇。<br><br>MYPAY替您整合所有金流商以及支付工具，串接MYPAY支付管理服務，讓您以最簡便且直覺的方式管理所有商品、交易進度與紀錄，手動退款輕鬆完成，非技術人員即可操作，迅速解決顧客問題，省下的時間與心力讓您專注在做好商品銷售與客源開發。<br>未來若要更換金流，後台設定就解決。<br></p>
                    </div>
                </div>
                
            </div>
            <div class="mbr-section__col col-xs-12 col-sm-6">
                
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">我已有金流服務商，<br>但想要更簡便的服務</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>仍可串接MYPAY整合既有金流，並能享有更多加值服務。<br><br>若您已有串接他家金流（無論銀行、第三方支付等金流商），串接MYPAY將完全不影響您既有金流服務，還能加碼擁有MYPAY的獨家服務：協助您在一個後台就能整合管理所有您串接的金流，無論增加或減少，都不需切換管理後台，真正一站式管理，一次串接，一勞永逸！<br></p>
                    </div>
                </div>
                
            </div>
            
            
            
            
            
            
            
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-1an" data-rv-view="471" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 62px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">一次串接 搞定13+N種支付工具</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-lg-2 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><span class="mbri-credit-card mbr-iconfont mbr-iconfont-features1" style="font-size: 80px; color: rgb(235, 107, 86);"></span></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">海內外信用卡</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="mbr-section__col col-xs-12 col-lg-2 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><span class="icon54-v1-bank-1 mbr-iconfont mbr-iconfont-features1" style="font-size: 80px; color: rgb(41, 105, 176);"></span></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">銀行轉帳交易</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><span class="icon54-v1-barcode-scanner mbr-iconfont mbr-iconfont-features1" style="font-size: 80px; color: rgb(119, 119, 119);"></span></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">超商代碼/條碼繳費</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><span class="icon54-v1-coins-1 mbr-iconfont mbr-iconfont-features1" style="font-size: 80px; color: rgb(250, 175, 64);"></span></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">電信小額代收</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><span class="icon54-v1-game-console2 mbr-iconfont mbr-iconfont-features1" style="font-size: 80px; color: rgb(147, 101, 184);"></span></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">儲值卡</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="mbr-section__col col-xs-12 col-lg-2 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-9-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text"><br>銀聯卡</h3>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content4-1kf" data-rv-view="474" style="background-color: rgb(239, 239, 239);">
    
    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 31px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">支付平台全支援</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/logo-card-9-193x128.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">VISA<br></h3>
                    </div>
                </div>
                
                
            </div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/logo-card-15-128x85.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">Master Card</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/logo-card-8-128x85.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">JCB</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-2">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/logo-card-9-128x85.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">美國運通卡</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/logo-card-10-128x85.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">銀聯卡</h3>
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </div>
</section>
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content4-1ap" data-rv-view="477" style="background-color: rgb(239, 239, 239);">
    
    
    <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 62px;">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-1-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">Apple Pay</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-2-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">Samsung Pay</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-6-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">Google Pay</h3>
                    </div>
                </div>
                
                
            </div>
            
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-3-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">Line 線上/線下支付</h3>
                    </div>
                </div>
                
                
            </div>
            
            
            
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content4-1aq" data-rv-view="480" style="background-color: rgb(239, 239, 239);">
    
    
    <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 31px;">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-7-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">微信支付</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-8-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">支付寶</h3>
                    </div>
                </div>
                
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-4-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">街口支付</h3>
                    </div>
                </div>
                
                
            </div>
            
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-5-105x105.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">其他需求，請告訴我們</h3>
                    </div>
                </div>
                
                
            </div>
            
            
            
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-c1" data-rv-view="483" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 62px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">主要服務項目<br></h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/logo-1-600x600.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">MYPAY <br>台灣第一家第四方支付</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>聚合多家支付通道，統一對外提供一個對接接口，有支付需求的商戶只要介接API，就能對接使用所有金流支付通道（銀行金流、第三方支付金流等），未來更換金流系統都免重新串接。</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="solution_fourth_payment.html" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default" target="_blank">瞭解更多</a></div>
                </div>
            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/logo-2-281x202.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">愛心零錢箱-<br>想就捐</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>MYPAY 和企業一起盡社會責任，所以我們將愛心零錢箱搬到網路上了！只要您串接 MYPAY 金流服務，在您商店的結帳頁面就擁有「愛心零錢箱」捐款欄位，讓您的顧客在愉快購物付款的同時可順便捐款，不用再次填寫卡號或分次轉帳；小小舉動，除了做愛心，更為您提高消費者認同。</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="/cdn-cgi/l/email-protection#d4a7b5b8b194b9ada4b5adfaa0a3" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">瞭解更多</a></div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/serviceiocn2-2-300x180.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">39buy 行動購物車</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>購物平台才有購物車的時代過去了！因應自媒體發展，我們推出39buy社群行銷購物機制，讓您免串接、不用辛苦將商品上架商城引導消費者去購買；39buy 首創一件商品也有購物車，讓所有自媒體通路都是曝光管道：無論Line , FB , 部落格,或實體 DM，隨商品移動，隨處交易，將消費者想買到結帳的時間縮到最短！</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="39buy.html" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default" target="_blank">瞭解更多</a></div>
                </div>
            </div>
            
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-2-209x126.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">OCP（onecardpass）會員管理系統</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>OneCardPass是一個可串連、可移動、多元彈性設定的會員系統，消費者的資料只要在OCP上更新，即同步到所有授權的特店，一個帳號各個商店走透透，降低企業在個資更新上的困擾，讓店家能有效掌握會員，提供更優質的服務。

</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="/cdn-cgi/l/email-protection#5221333e37123f2b22332b7c2625" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">即將上線<br>搶先瞭解更多</a></div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-c2" data-rv-view="486" style="background-color: rgb(255, 255, 255);">
    
    
    <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 31px;">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/2-3-334x209.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">企業內建電子錢包服務</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>想要在您店家的網站或APP內建電子錢包嗎？讓您的顧客結帳超快速嗎？MYPAY滿足您！串接MYPAY電子錢包API，就能讓您的消費者享受VIP快速結帳待遇，而且無需額外安裝錢包App，在店家付款頁面上一指就完成付款，線上線下都可以，從此結帳不用再掏信用卡，秒付超輕鬆！
</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="electronic_wallet.html" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default" target="_blank">瞭解更多</a></div>
                </div>
            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/messages-app-store-600x450.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">行動收銀機<br>一碼付</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>一個QRcode，成為您的行動收銀機！取代刷卡機，為您省下購置硬體與維護的成本，走到哪，企業就收款到哪，虛實場景任你收，一分鐘完成收款就是這麼簡單！</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="QRcode.html" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default" target="_blank">瞭解更多</a></div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/1-1-209x126.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">ZEPAY <br>P2P跨境匯款</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>媒合異地會員代收付匯款，省去跨國轉帳多筆手續費。我們嚴格把關跨境匯款風險，委託人和匯款人都必須擁有會員帳號，收款人則免加入會員可輕鬆收款，透過APP即可做收款確認。</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="/cdn-cgi/l/email-protection#3b485a575e7b56424b5a42154f4c" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default">即將上線<br>搶先瞭解更多</a></div>
                </div>
            </div>
            
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><span class="icon54-v2-ticket mbr-iconfont mbr-iconfont-features1" style="font-size: 135px;"></span></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">MYPAY TIX<br>票券管理系統</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>票券管理系統解決銀行無法掌握擔保金額的上限的問題，高鉅的票券管理專利機制讓票券發行即可同步掌握票券發行量，並能協助業者管理分店票券額度分配、實體票券發行量、票券核銷等。</p>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-buttons mbr-buttons--center"><a href="ticket_system.html" class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-default" target="_blank">即將上線<br>搶先瞭解更多<br></a></div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</section>
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-1e2" data-rv-view="489" style="background-color: rgb(255, 255, 255);">
    
    <div class="mbr-section__container mbr-section__container--std-top-padding mbr-section__container--sm-bot-padding mbr-section-title container" style="padding-top: 62px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">金流安全 我們絕對把關</h3>
                
            </div>
        </div>
    </div>
    <div class="mbr-section__container container">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/pci-dss-280x206.jpg" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">PCI-DSS V3.2</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>MYPAY取得國際支付卡產業資料安全標準，最新3.2版本認證 ，線上支付系統最高保障 。</p>
                    </div>
                </div>
                
            </div>
            <div class="mbr-section__col col-xs-12 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="/themes/pink/images/ev-ssl-300x194.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">EV SLL加密憑證</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 62px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>MYPAY採用最嚴謹的網路加密憑證類別，所有資料都加密傳遞，保障您的網路付款安全 。</p>
                    </div>
                </div>
                
            </div>
            
            
            
            
            
            
            
        </div>
    </div>
</section>
{% endblock %}